# 2025 IDP FRQ Sem-1 - v1-1

## Summary

Each problem includes test code that before the code you will execute (so you can define the test functions first)

### Part 1 
* 6  pts - problem 1 (rewrite)
* 8  pts - problem 2 (hailstone)
* 6  pts - problem 3 (TemperatureLog)

`20 points possible`

### JupyterLite
Be sure that you can Run All Cells without error (even if you don't pass the tests/comment if needed).
Select in the menus: Run -> Run All Cells.

## Setup

* The dataframe, has 3 columns: name, age, state.
* The dataframe has some missing data in some columns (see below)

In [16]:
# Make sure you run this cell so that the remaining cells run
import pandas as pd
import numpy as np
from collections.abc import Callable

def get_dataframe() -> pd.DataFrame:
    """
    Construct a sample DataFrame of names, ages, and states.
    Uses modern pandas conventions and type annotations.
    """
    data = {
        "name": ["Al", "Bob", "Carter", "David", "Eve", "Frank", "Bob", "Bob", "Bob", "Diane", "Bob", "John"],
        "age": [42,    44,    55,       28,       22,    51, 29, 30, 30, 17, 22, np.nan],
        "state": ["WA", "CA", "CA", "WA", "NV", "OR", "OR", "CA", "NV", "WA", "DE", "AZ"],
    }

    return pd.DataFrame(data)

display(get_dataframe())

      name   age state
0       Al  42.0    WA
1      Bob  44.0    CA
2   Carter  55.0    CA
3    David  28.0    WA
4      Eve  22.0    NV
5    Frank  51.0    OR
6      Bob  29.0    OR
7      Bob  30.0    CA
8      Bob  30.0    NV
9    Diane  17.0    WA
10     Bob  22.0    DE
11    John   NaN    AZ

# Questions

## Problem 1 (rewrite) 6 pts

Rewrite the slow use of iterrows (for-loop) to use zip in a list comprehension.

In [19]:
# Test code - do not change
def test_rewrite() -> None:

    print("--- Testing rewrite ---")

    df = get_dataframe()
    actual = rewrite(df, 20, 50)   # both bounds applied

    expected: list[tuple[str, float]] = [
        ("Al", 42.0),
        ("Bob", 44.0),
        ("David", 28.0),
        ("Eve", 22.0),
        ("Bob", 29.0),
        ("Bob", 30.0),
        ("Bob", 30.0),
        ("Bob", 22.0),
    ]

    print("expected:", expected)
    print("actual:  ", actual)

In [25]:
# Your changes go here:

def rewrite(df: pd.DataFrame, low: int | None, high: int | None) -> list[tuple[str, float]]:
    """
    Return (name, age) tuples where:
      - age is not NaN
      - if low is not None:  age >= low
      - if high is not None: age < high

    Rewrite the slow use of iterrows (for-loop) to use zip in a list comprehension.
    """

    # --- INITIAL FOR-LOOP VERSION (replace this) ---
    result: list[tuple[str, float]] = []
    name_lst: list[str] = []
    age_lst: list[float] = []
    result = [zip(name_lst.append(row["name"]),age_lst.append(row["age"])) for _,row in df.iterrows() if pd.notna(row["age"]) if low is None or row["age"] >= low if high is None or row["age"] < high]  
    # for _, row in df.iterrows():
    #     name = row["name"]
    #     age = row["age"]

    #     if pd.notna(age):
    #         if low is None or age >= low:
    #             if high is None or age < high:
    #                 result.append((name, age))

    return result

test_rewrite()

--- Testing rewrite ---

<class 'TypeError'>: 'NoneType' object is not iterable

## Problem 2 - 8 pts - Hailstone Sequence

The **Hailstone Sequence** is defined to be the sequence of numbers generated by: 
```
Next n = 
   <end>  if n is 1
   n/2    if n is even
   3*n+1  if n is odd
```

For example, if `n=10` the sequence is: `[10, 5, 16, 8, 4, 2, 1 ]` which as a length of 7.  

The sequence stops when we hit 1 because it will start to repeat: `4, 2, 1, 4, 2, 1, ...`

- Create a `DataFrame` with two columns: `['n', 'length']`
- The `n` column contains the numbers from 1 to `max_n` inclusive. (The length of the DataFrame is `max_n`.) 
- The `length` column contains the lengths of the Hailstone Sequence for that `n`. Do not include any other `n` values in the dataframe.

The dataframe will be sorted by n and start out as follows (for hailstone(5)):
```
   n  length
0  1       1
1  2       2
2  3       8
3  4       3
4  5       6
```
Notes:  
* You may use helper methods and intermediary data structures. The sequences for n & length may be created with loops or comprehensions.

In [1]:
# Test code - do not modify

def test_hailstone() -> None:
    """
    Simple test you can run to check your hailstone() and stone()
    implementations. This version does NOT use assert so the code
    continues running no matter what your output is.
    """
    print("--- Testing hailstone(5) dataframe ---")
    expected_df = pd.DataFrame({
        "n":      [1, 2, 3, 4, 5],
        "length": [1, 2, 8, 3, 6]
    })
    actual_df = hailstone(5)

    print("Expected dataframe:")
    print(expected_df)
    print()
    print("Actual dataframe:")
    print(actual_df)
    print()

In [49]:
# Your implementation here:
import pandas as pd
def hailstone(max_n):
    len_list = []
    n_list = []
    len_list.append(1)
    n_list.append(1)
    length = 1
    for i in range(2,max_n + 1):
        j = i
        while not j == 1:
            if j % 2 == 0:
                j = (j)/2
            else:
                j = 3 * (j + 1)
            len_list.append(length)
            length += 1
            break
        
        n_list.append(i)
    final_ser = pd.Series(len_list, index = n_list)
    final_frame = pd.DataFrame(data = final_ser, columns = ["length"])
    return final_frame

test_hailstone()

--- Testing hailstone(5) dataframe ---
Expected dataframe:
   n  length
0  1       1
1  2       2
2  3       8
3  4       3
4  5       6

Actual dataframe:
   length
1       1
2       1
3       2
4       3
5       4

## Problem 3 - 6 points - Temperature Log

- You are given a partially implemented `TemperatureLog` class and a small test function. 
- Add *type annotations* (checking with `mypy` syntax checker is not required) to `TemperatureLog` and implement the methods. 
- `mean` must add support for caching.

***Implement methods***

- add - adds a single temperature reading
- mean - add caching (do not use @cache decorator)

> If you need an “optional” type, use the | syntax. Your code should make test_temperature_log() run without assertion failures.

In [3]:
# Test Code - do not change

def test_temperature_log() -> None:
    """
    Simple test you can run to check your implementation.
    This function should pass mypy when your annotations are correct.
    """

    # TODO: add a type annotation for this function

    log = TemperatureLog()

    # Add some readings
    for value in [20, 30, 40, 10]:
        log.add(value)

    print("--- Testing TemperatureLog ---")
    print("Expected:", 25)
    print("Actual:  ", log.mean())
    print()

In [8]:
# Your changes will go here:

class TemperatureLog:
    """
    Stores temperature readings (integers) in degrees.
    """

    # TODO: You may add methods if needed
    def __init__(self):
        self._temp_list:list(int) = []
    def add(self, value:int):
        """Add a single temperature reading to the log."""
        # TODO: add type annotations and implementation
        self._temp_list.append(value)

    def mean(self):
        """
        Return average of readings. This will cache previous
        calculations.
        
        Example:
          readings = [20, 30, 40]
          mean = 30
        """
        # TODO: add type annotations and implementation
        ser = pd.Series(self._temp_list, copy = False)
        return int(ser.mean())

test_temperature_log()

--- Testing TemperatureLog ---
Expected: 25
Actual:   25

In [ ]:
test_rewrite()
test_hailstone()
test_temperature_log()